
a {
    text-decoration: none;
    margin-left: 75px;
    color: #f6fdff;
    padding: 16px 16px;
}

li {
    display: inline-block;

}

.nav {
    text-align: left;
    background: #658565;
    display: grid;
}

a:hover {

    background: #466246;


}

