
a {
    text-decoration: none;
    color: #f6fdff;
    padding: 10px 14px;
    display: grid;
    align-items: center;
    margin-left: 80px;

}

li {
    display: inline-block;

}

a:hover {
    background: #466246;
}

