* {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: grid;
  height: 100vh;
  grid-template-areas:
            'header header header'
            'main main  main'
            'footer footer footer'

;


  grid-template-rows: 60px 1fr 20px;
  grid-template-columns: 1fr ;


}

.header {
  grid-area: header;
  background: darkseagreen;
}
.main {
  grid-area: main;

}
.footer {
  grid-area: footer;
  background: red;
}

